---
import type { Certificate } from "../data/certificates";
import { getLocaleFromUrl, useTranslations, type Locale } from "../i18n";

interface Props {
  certificate: Certificate;
}

const { certificate } = Astro.props;
const locale: Locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
---

<div
  class="group relative flex items-center justify-center rounded-4xl border-2 border-stone-300 bg-stone-200 p-4 dark:border-stone-700 dark:bg-stone-800"
>
  <div class="relative h-full w-full overflow-hidden rounded-2xl bg-stone-300">
    <img
      src={certificate.image}
      alt={certificate.name}
      class="h-[inherit]! object-cover transition-transform duration-500 ease-out group-hover:scale-125"
      loading="lazy"
    />
  </div>
  <svg
    width="265"
    height="80"
    viewBox="0 0 284 80"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="absolute bottom-[13px] mx-auto text-stone-200 dark:text-stone-800"
  >
    <path
      d="M179.5 0C188.337 0 195.5 7.16344 195.5 16V36C195.5 60.3005 215.199 80 239.5 80H0V0H179.5Z"
      fill="currentColor"></path>
    <path
      d="M283.5 80H239.5C263.801 80 283.5 60.3005 283.5 36V80Z"
      fill="currentColor"></path>
  </svg>
  <div
    class="absolute bottom-4 left-4 flex h-[74px] w-[calc(265px-84px)] flex-col items-stretch justify-center p-2"
  >
    <span
      class="text-lg leading-7 font-semibold text-stone-800 dark:text-stone-200"
      >{certificate.name}</span
    >
    <span class="text-lg leading-7 font-medium text-stone-500"
      >{certificate.issuer}</span
    >
  </div>
  <a
    href={certificate.url || "#"}
    target={certificate.url && certificate.url !== "#" ? "_blank" : undefined}
    rel={certificate.url && certificate.url !== "#"
      ? "noopener noreferrer"
      : undefined}
    aria-label={`${t("a11y.viewCertificate")}: ${certificate.name}`}
    class="group/link absolute right-6 bottom-6 flex h-[66px] w-[66px] items-center justify-center rounded-full border-2 border-stone-200 bg-stone-200 transition-colors duration-300 ease-in-out hover:bg-stone-800 dark:border-stone-800 dark:bg-stone-800 hover:dark:bg-stone-200"
  >
    <svg
      width="32"
      height="32"
      viewBox="0 0 32 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="stroke-stone-800 transition-all duration-300 ease-in-out group-hover:rotate-360 group-hover/link:stroke-stone-200 dark:stroke-stone-200 dark:group-hover/link:stroke-stone-800"
    >
      <path
        d="M3.69232 4H28.3077V28.6154"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M3.69232 28.6154L28.3077 4"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </a>
</div>
