---
interface Props {
  label: string;
  icon: string;
  radius: number;
  initialAngle: number;
  speed: number;
  direction: number;
}

const { label, icon, radius, initialAngle, speed, direction } = Astro.props;
---

<div
  class="orbit-arm absolute"
  style={{
    width: `${radius}px`,
    height: "0px",
    left: "50%",
    top: "50%",
    transformOrigin: "left center",
    zIndex: 20,
  }}
  data-speed={speed}
  data-direction={direction}
  data-radius={radius}
  data-initial-angle={initialAngle}
>
  <div class="absolute right-0" style={{ transform: "translate(50%, -50%)" }}>
    <div class="orbit-item-rotator">
      <div
        class="orbit-item group relative cursor-pointer transition-transform duration-200 hover:scale-110"
      >
        <div
          class="flex h-14 w-14 items-center justify-center rounded-2xl border border-gray-100 bg-white p-3 shadow-lg dark:border-stone-700 dark:bg-stone-800"
          title={label}
        >
          <img src={icon} alt={label} class="h-full w-full object-contain" />
        </div>
        <span
          class="pointer-events-none absolute -bottom-7 left-1/2 -translate-x-1/2 whitespace-nowrap rounded-md bg-stone-800 px-2 py-0.5 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100"
        >
          {label}
        </span>
      </div>
    </div>
  </div>
</div>
