---
import type { CollectionEntry } from "astro:content";
import type { Project } from "../data/projects";

interface Props {
  project?: Project;
  data?: CollectionEntry<"projects">["data"];
  class?: string;
  isFeatured?: boolean;
}

const {
  project: oldProject,
  data: newData,
  class: className,
  isFeatured,
} = Astro.props;
const project = newData || oldProject;

if (!project) {
  throw new Error("ProjectCard requires either a 'project' or 'data' prop");
}
---

<article
  class:list={[
    "group relative flex flex-col gap-4 overflow-hidden transition-transform duration-300",
    className,
  ]}
>
  <a
    href={project.url}
    target="_blank"
    class="overflow-hidden rounded-4xl bg-stone-400/15 p-4 backdrop-blur-sm transition-opacity duration-300 group-hover:opacity-80"
  >
    <img
      src={project.image}
      alt={project.title}
      class="aspect-[21/9] h-full w-full rounded-2xl! object-cover"
    />
  </a>
  <div
    class="flex w-full flex-col items-start gap-4 sm:flex-row sm:items-center"
  >
    <h3
      class="min-w-0 shrink truncate text-3xl font-medium text-stone-300!"
      title={project.title}
    >
      {project.title}
    </h3>

    <div class="flex shrink-0 items-center gap-4">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="hidden shrink-0 sm:block"
      >
        <g clip-path="url(#clip0_47_323)">
          <path
            d="M9.5 4.37869L12.5962 1.28244L14.7175 3.40381L11.6213 6.5H16V9.5H11.6213L14.7175 12.5962L12.5962 14.7175L9.5 11.6213V16H6.5V11.6213L3.40375 14.7175L1.2825 12.5962L4.37869 9.5H0V6.5H4.37869L1.28244 3.40375L3.40381 1.2825L6.5 4.37869V0H9.5V4.37869Z"
            fill="#78716C"></path>
        </g>
        <defs>
          <clipPath id="clip0_47_323">
            <rect width="16" height="16" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
      {
        project.tags.length > 0 && (
          <span class="shrink-0 rounded-md bg-stone-700 px-2 py-1 text-sm whitespace-nowrap text-stone-100">
            {project.tags[0]}
          </span>
        )
      }
    </div>

    <div
      class:list={[
        "flex shrink gap-2 overflow-hidden",
        !isFeatured && "hidden",
      ]}
    >
      {
        project.tags
          .slice(1, 3)
          .map((tag) => (
            <span class="rounded-md bg-stone-700 px-2 py-1 text-sm whitespace-nowrap text-stone-100">
              {tag}
            </span>
          ))
      }
    </div>
  </div>
</article>
