---
import FormattedDate from "./FormattedDate.astro";
import {
  getLocaleFromUrl,
  getLocalizedPath,
  useTranslations,
  type Locale,
} from "../i18n";

interface Props {
  post: {
    id: string;
    data: {
      title: string;
      description: string;
      pubDate: Date;
      heroImage?: ImageMetadata;
    };
  };
}

const { post } = Astro.props;
const locale: Locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
---

<a
  href={getLocalizedPath(`/blog/${post.id}`, locale)}
  class="flex w-full items-end justify-between p-6 transition-all duration-150 ease-out hover:bg-stone-50"
>
  <div class="flex items-center gap-8">
    <div class="relative h-40 w-52 shrink-0 overflow-hidden rounded-2xl bg-stone-200">
      {post.data.heroImage && (
        <img
          src={post.data.heroImage.src}
          alt={post.data.title}
          class="absolute inset-0 h-[inherit]! w-full object-cover"
          loading="lazy"
        />
      )}
    </div>
    <div class="flex flex-col gap-2.5">
      <h3 class="text-3xl! font-medium text-stone-600!">
        {post.data.title}
      </h3>
      <p class="m-0! line-clamp-3 text-sm text-stone-500">
        {post.data.description}
      </p>
    </div>
  </div>
  <span class="text-xs text-nowrap text-stone-400">
    <FormattedDate date={post.data.pubDate} />
  </span>
</a>
